* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


body {
    font-size: 20px;
    font-family: Lato, Arial, sans-serif;
    background: linear-gradient(rgba(79, 248, 255, 0.8), rgba(7, 43, 163, 0.8));
}






header {
    height: 250px;
    background-image: url(img/three.png);
    background-position: center;
}






.top {
    height: 250px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}



.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.budget_value_2 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: center;
    transform: translateY(-15px);
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #008ce3;
}

.budget__expenses {
    background-color: #ff003b;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 16px;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-radius: 3px;
}












.validation-description, .validation-value {
    display: none;
}












section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    width: 900px;
    float: left;
}

.main .add_container {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.type {
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    padding: 0px 15px 0px 1px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: border 0.3s;
}

.btn {
    color: #00b1ff;
    font-size: 35px;
    background: none;
    border: none;
    transform: translateY(7px);
    line-height: 1.1;
    cursor: pointer;
}

.description, .value {
    font-size: 80%;
    padding: 10px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-right: 5px;
    transition: border 0.3s;
}

.description {
    width: 350px;
}

.value {
    width: 80px;
    margin-right: 15px;
}



.type:focus,
.description:focus,
.value:focus {
    outline: none;
    border: 1px solid #00b1ff;
}

.btn:focus {
    outline: none;
    background: none;
}


.btn:active {
    transform: translateY(9px);
}






/* main list container */
.main .list_container {
    min-height: 520.266px;
    background-color: #fff;
}

.main .list_container .income {
    width: 410px;
    margin: 20px;
    margin-top: 28px;
    padding: 15px 0;
    float: left;
}

.main .list_container .expense {
    width: 410px;
    margin: 20px;
    margin-top: 28px;
    padding: 15px 0;
    float: left;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.right { float: right; }
.red { color: red }
.red-focus:focus { border: 1px solid red }

.income h2, .income .item_delete_btn, .income .item_value {
    color: #0064c7;
}

.expense h2, .expense .item_delete_btn, .expense .item_value, .item_percentage {
    color: #d00048;
}

.item:first-child {
    border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
    background-color: #f7f7f7;
}



.item {
    height: 24px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 30px;
    border-bottom: 1px solid #e7e7e7;
}

.item_description {
    float: left;
    padding-top: 3px;
}

.item_value {
    float: left;
    padding-top: 3px;
    transition: transform 0.3s;
}

.item_percentage {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    background-color: #ffd8d8;
    border-radius: 5px;
    padding: 4px 10px;
    transition: transform 0.6s;
}

.item_delete {
    float: left;
}


.item_delete_btn {
    font-size: 24px;
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

.item_delete_btn:focus {
    outline: none;
}

.item_delete_btn:active {
    transform: translateY(2px);
}

.item:hover .item_delete_btn { display: block; }
.item:hover .item_value { transform: translateX(-20px); }
.item:hover .item_percentage { transform: translateX(-20px); }















/* Aside */


/* hidden element */
aside .additional {
    display: none;
}


aside {
    min-height: 400px;
    width: 290px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
    float: left;
}

.aside_contents {
    font-family: sans-serif;
    padding: 0 20px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 60px;
}



aside h2 {
    margin-top: 40px;
    color: #00259f;
}

aside p {
    margin-top: 40px;
    text-align: center;
    line-height: 1.4;
    color: #1997e5;
    margin-bottom: 50px;
    transition: color 0.2s;
}

aside p:hover {
    color: #0046e5;
    cursor: pointer;
}

aside ul {
    list-style: none;
}

aside li {
    padding: 4px 0;
    
}

aside li a {
    text-decoration: none;
    font-style: oblique;
}

.make_bold {
    font-weight: bold;
}

aside li a:hover {
    text-decoration: underline;
    
}

aside .break {
    margin-top: 40px;
    margin-bottom: 15px;
}

aside .second li a{
    font-style: normal;
    text-decoration: underline;
}

aside .second li a:hover {
    text-decoration: none;
}










footer {
    background: #0b194a;
    padding: 30px;
    font-size: 80%;
    font-family: sans-serif;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    color: #999;
    border: 0;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: 0.2s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #00aced;
}
.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: #dd4b39;
}
.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.social-links p {
    color: #a3a3a3;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 120px;
}










/*  hidden element */
.five {
    display: none;
}

.list {
    min-height: 200px;
    width: 1200px;
    font-size: 16px;
}




.one, .two, .three, .four, .five {
    height: 360px;
    width: 270px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-right: 40px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(21, 183, 255, 0.8));
    float: left;
    overflow: hidden;
}

.four {
    margin-right: 0;
}



.list h3 {
    text-align: center;
    color: #00267b;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list h3, .list p, .list a, .list .budget_income_value_2, .list .budget_expenses_value_2 {
    padding-left: 10px;
    padding-right: 10px;
}

.list p, .list .budget_income_value_2, .list .budget_expenses_value_2 {
    font-size: 16px;
    font-family: sans-serif;
    color: #000352;
    padding-top: 10px;
    padding-bottom: 5px;
}



.list img {
    width: 250px;
    margin: 20px 0;
}

.list .remind {
    width: 230px;
    margin: 20px 10px;
    padding: 0 10px;
    min-height: 152px;
    background: linear-gradient(rgba(59, 59, 59, 0.58),rgba(154, 154, 154, 0.28));
    overflow: hidden;
}

.remind .inc {
    height: 35px;
    background-color: #007eea;
    margin-bottom: 5px;
}

.remind .exp {
    height: 35px;
    background-color: #e6002c;
}

.list .remind p {
    float: left;
}

.remind p, .remind h3 {
    color: #fff;
}

.remind h3 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 100;
    display: inline-block;
}

.list {
    font-size: 18px;
}

.list a {
    font-size: 100%;
    font-style: oblique;
    text-decoration: none;
}


.list a:hover {
    color: #720072;
    text-decoration: underline;
}



.list .budget_income_value_2, .list .budget_expenses_value_2 {
    float: left;
    color: #fff;
}



















.two .remind h3 {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.one .remind h3 {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}



.two .remind .budget_value_2 {
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.two .remind .inc {
    margin-top: 0px;

}

.one .remind .budget_value_1 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.one .remind .inc {
    margin-top: 0px;

}














